<div class="cart">
    <h4 class="from-left">My Dinner</h4>
    <label class="from-left" for="people">People</label>
    <input type="number" name="people" id="people" value={{getNumPeople()}} min="1" (change)="setNumberOfPeople($event)">
    <div class="table-head">
        <span>Dish Name</span>
        <span>Cost</span>
    </div>
    <ul class="from-left list-of-dishes">
            <li *ngFor="let item of getMenuItems()" class="table-row">
                <span>{{item.name}}</span>
                <span>{{item.getPriceForDish(getNumPeople())}}</span>
            </li>
    </ul>
    <hr>
    <div class="total-price from-left">
        <p><span>SEK </span><span class="totalPrice">{{getMenuPrice()}}</span></p></div>
    <button class="btn btn-large btn-primary" type="button" id="confirm-button" [routerLink] = "['/overview']">Confirm Dinner</button>
    <button class="btn btn-large btn-primary" type="button" id="delete-starter" (click)="deleteDishFor('appetizer')">Delete Starter</button>
    <button class="btn btn-large btn-primary" type="button" id="delete-main" (click)="deleteDishFor('main course')">Delete Main</button>
    <button class="btn btn-large btn-primary" type="button" id="delete-dessert" (click)="deleteDishFor('dessert')">Delete Dessert</button>
</div>
