<div class="dinneroverview-container">
    <div class="overview-main-content">
        <checkout></checkout>
        <div class="dish-detail-view">
            <div class="dish-info-and-ingredients">
                <div class="dish-info">
                    <div class="dish-info-box">
                        <h3 class="lasagne-title">{{recipe?.name}}</h3>
                            <img class="dish-image" src={{recipe?.image}}>
                        <p class="lasagne-text">{{recipe?.name}}</p>
                        <button class="btn btn-ms btn-primary back-to-dish" (click)="backClicked()">Back to Select Dish
                        </button>
                    </div>
                </div>
                <div class="dish-ingredients"><h3>INGREDIENTS FOR 1 PEOPLE</h3>
                    <hr>
                    <table class="from-left list-of-dishes">
                        <tbody>
                        <tr *ngFor="let ingredient of recipe?.ingredients">
                            <td>{{ingredient.quantity}}</td>
                            <td>{{ingredient.name}}</td>
                            <td>SEK {{ingredient.price}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <hr>
                    <div class="confirm-row">
                        <button class="btn btn-ms btn-primary confirm-btn">Confirm Dish</button>
                        <p>SEK {{recipePrice}}</p></div>
                </div>
            </div>
            <div class="dish-preparations"><h2>PREPARATION</h2>
                <p class="preparation-text" style="width: 900px">{{recipe?.instructions}}</p></div>
        </div>
    </div>
</div>