<div class="dinneroverview-container">
    <div class="overview-main-content">
        <checkout></checkout>
        <div class="dish-list-view">
            <div class="dish-list-searchbar"><h1>SELECT DISH</h1>
                <hr>
                <input #textBox type="text" placeholder="Enter key words" id="input_field">
                <button class="btn btn-sm btn-primary" id="search-button"
                        (click)="searchForDishes(selectBox.value, textBox.value.toLowerCase())">Search
                </button>
                <select #selectBox class="dish-selection" id="dish-select"
                        (change)="searchForDishes(selectBox.value, textBox.value.toLowerCase())">
                    <option value="appetizer">Starter</option>
                    <option value="main course">Main Dish</option>
                    <option value="dessert">Dessert</option>
                </select>
            </div>
            <div id="list-div" class="dish-list-listView">
                <div class="dish" id={{recipe.id}} *ngFor="let recipe of recipes">
                    <img src={{recipe.image}} class="dish-image" (click)="searchForDishes()" [routerLink]="['/detail']">
                    <p class="dish-title">
                        <strong>{{recipe.name}}</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>