<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dinner planner</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/home.css">
</head>
<body>
<div id="homeView" class="home-screen-container">
    <header>
        <div class="header-content">
            <h1 id="header-title">HOMELETTE</h1>
            <h4 id="header-subtitle">From the best chefs in the world directly into your kitchen</h4>
        </div>
    </header>

    <div class="home-screen-box">
        <div class="home-screen-box-upper-content">
            <h2>A Home Dinner Service</h2>
            <hr/>
            <p>Lorem ipsum dolor sit omet Lorem ipsum dolor sit omet Lorem ipsum dolor sit omet Lorem ipsum dolor sit
                omet
                Lorem ipsum dolor sit omet Lorem ipsum dolor sit omet Lorem ipsum dolor sit omet Lorem ipsum dolor sit
                omet Lorem ipsum dolor sit omet Lorem ipsum dolor sit omet Lorem ipsum dolor sit omet Lorem ipsum dolor
                sit omet Lorem ipsum dolor sit omet Lorem ipsum dolor sit omet Lorem ipsum dolor sit omet Lorem ipsum
                dolor sit omet Lorem ipsum dolor sit omet Lorem ipsum dolor sit omet Lorem ipsum dolor sit omet Lorem
                ipsum dolor sit omet</p>
        </div>
        <div class="home-screen-box-lower-content">
            <p>start quickly</p>
            <a href="#" class="btn btn-primary btn-large">Create New Dinner</a>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Bootstrap JavaScript, needed if you want for instance tabs, models, popovers etc. -->
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

<!-- The application JavaScript code -->
<script src="../js/app.js"></script>
<script src="../js/view/homeView.js"></script>
<script src="js/view/exampleViewController.js"></script>
</body>
</html>