<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dinner Planner</title>

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
<div id="dinnerOverviewView" class="dinneroverview-container">
    <header>
        <div class="header-content">
            <h1 id="header-title">HOMELETTE</h1>
            <h4 id="header-subtitle">From the best chefs in the world directly into your kitchen</h4>
        </div>
    </header>

    <div class="overview-main-content">
        <div id="view2"></div>

        <div class="dish-list-view">
            <div class="dish-list-searchbar">
                <h1>SELECT DISH</h1>
                <hr>
                <input type="text" placeholder="Enter key words">
                <button class="btn btn-sm btn-primary" id="search-button">Search</button>
                <select class="dish-selection">
                    <option value="main">Main</option>
                    <option value="breakfast" selected>Breakfast</option>
                    <option value="lunch">Lunch</option>
                </select>
            </div>

            <div class="dish-list-listView">
                <div class="dish">
                    <img src="../images/meatballs.jpg" alt="" class="dish-image">
                    <p class="dish-title"><strong>Lasagne</strong></p>
                    <p class="dish-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.</p>
                </div>

                <div class="dish">
                    <img src="../images/meatballs.jpg" alt="" class="dish-image">
                    <p class="dish-title"><strong>Lasagne</strong></p>
                    <p class="dish-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.</p>
                </div>

                <div class="dish">
                    <img src="../images/meatballs.jpg" alt="" class="dish-image">
                    <p class="dish-title"><strong>Lasagne</strong></p>
                    <p class="dish-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.</p>
                </div>

                <div class="dish">
                    <img src="../images/meatballs.jpg" alt="" class="dish-image">
                    <p class="dish-title"><strong>Lasagne</strong></p>
                    <p class="dish-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.</p>
                </div>

                <div class="dish">
                    <img src="../images/meatballs.jpg" alt="" class="dish-image">
                    <p class="dish-title"><strong>Lasagne</strong></p>
                    <p class="dish-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.</p>
                </div>

                <div class="dish">
                    <img src="../images/meatballs.jpg" alt="" class="dish-image">
                    <p class="dish-title"><strong>Lasagne</strong></p>
                    <p class="dish-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.</p>
                </div>

                <div class="dish">
                    <img src="../images/meatballs.jpg" alt="" class="dish-image">
                    <p class="dish-title"><strong>Lasagne</strong></p>
                    <p class="dish-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.</p>
                </div>

                <div class="dish">
                    <img src="../images/meatballs.jpg" alt="" class="dish-image">
                    <p class="dish-title"><strong>Lasagne</strong></p>
                    <p class="dish-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.</p>
                </div>

                <div class="dish">
                    <img src="../images/meatballs.jpg" alt="" class="dish-image">
                    <p class="dish-title"><strong>Lasagne</strong></p>
                    <p class="dish-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.</p>
                </div>

                <div class="dish">
                    <img src="../images/meatballs.jpg" alt="" class="dish-image">
                    <p class="dish-title"><strong>Lasagne</strong></p>
                    <p class="dish-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.</p>
                </div>

                <div class="dish">
                    <img src="../images/meatballs.jpg" alt="" class="dish-image">
                    <p class="dish-title"><strong>Lasagne</strong></p>
                    <p class="dish-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.</p>
                </div>

                <div class="dish">
                    <img src="../images/meatballs.jpg" alt="" class="dish-image">
                    <p class="dish-title"><strong>Lasagne</strong></p>
                    <p class="dish-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.</p>
                </div>


                <div class="dish">
                    <img src="../images/meatballs.jpg" alt="" class="dish-image">
                    <p class="dish-title"><strong>Lasagne</strong></p>
                    <p class="dish-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<!-- Bootstrap JavaScript, needed if you want for instance tabs, models, popovers etc. -->
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

<script src="../js/app.js"></script>
<script src="../js/model/dinnerModel.js"></script>
<script src="../js/view/view2.js"></script>
<script src="js/view/exampleViewController.js"></script>
</body>
</html>