<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dinner Planner</title>

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
<div class="lasagne" id="lasagne">
    <header>
        <div class="header-content">
            <h1 id="header-title">HOMELETTE</h1>
            <h4 id="header-subtitle">From the best chefs in the world directly into your kitchen</h4>
        </div>
    </header>

    <div class="overview-main-content">
        <div id="view2"></div>

        <div id="view4"></div>
       
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Bootstrap JavaScript, needed if you want for instance tabs, models, popovers etc. -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

    <!-- The application JavaScript code -->
    <script src="../js/app.js"></script>
    <script src="../js/model/dinnerModel.js"></script>
    <script src="../js/view/view4.js"></script>
    <script src="../js/view/view2.js"></script>
    <script src="js/view/exampleViewController.js"></script>
</body>
</html>