<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dinner Planner</title>

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
<div class="lasagne" id="lasagne">
    <header>
        <div class="header-content">
            <h1 id="header-title">HOMELETTE</h1>
            <h4 id="header-subtitle">From the best chefs in the world directly into your kitchen</h4>
        </div>
    </header>

    <div class="overview-main-content">
        <div class="cart">
            <h4 class="from-left">My Dinner</h4>
            <label class="from-left" for="people">People</label>
            <input type="number" name="people" id="people" value="3">
            <div class="table-head"><span>Dish Name</span><span>Cost</span></div>

            <ul class="from-left list-of-dishes">
                <li class="table-row"><span>Toast</span><span>0.00</span></li>
            </ul>

            <hr>
            <div class="total-price from-left"><p><span>SEK</span><span id="total-cost"> 0.00</span></p></div>
            <button type="button" class="btn btn-large btn-primary" id="confirm-button">Confirm Dinner</button>
        </div>

        <div class="dish-detail-view">
            <div class="dish-info-and-ingredients">
                <div class="dish-info">
                    <div class="dish-info-box">
                        <h3 class="lasagne-title"><strong>Lasagne</strong></h3>
                        <img src="../images/meatballs.jpg" alt="" class="dish-image">
                        <p class="lasagne-text">Lorem ipsum dolor sit. amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt  amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt tempor
                            incididunt </p>
                        <button class="btn btn-ms btn-primary back-to-dish">Back to Select Dish</button>
                    </div>
                </div>

                <div class="dish-ingredients">
                    <h3>INGREDIENTS FOR 4 PEOPLE</h3>
                    <hr>
                    <ul class="from-left list-of-dishes">
                        <li class="table-row"><span>2 tbsp</span><span>Olive Oil</span><span>SEK</span><span>0.00</span>
                        </li>
                        <li class="table-row"><span>2 tbsp</span><span>Olive Oil</span><span>SEK</span><span>0.00</span>
                        </li>
                        <li class="table-row"><span>2 tbsp</span><span>Olive Oil</span><span>SEK</span><span>0.00</span>
                        </li>
                        <li class="table-row"><span>2 tbsp</span><span>Olive Oil</span><span>SEK</span><span>0.00</span>
                        </li>
                        <li class="table-row"><span>2 tbsp</span><span>Olive Oil</span><span>SEK</span><span>0.00</span>
                        </li>
                        <li class="table-row"><span>2 tbsp</span><span>Olive Oil</span><span>SEK</span><span>0.00</span>
                        </li>
                        <li class="table-row"><span>2 tbsp</span><span>Olive Oil</span><span>SEK</span><span>0.00</span>
                        </li>
                    </ul>
                    <hr>
                    <div class="confirm-row">
                        <button class="btn btn-ms btn-primary confirm-btn">Confirm Dish</button>
                        <p>SEK 0.00</p>
                    </div>
                </div>
            </div>
            <div class="dish-preparations">
                <h2>PREPARATION</h2>
                <p class="preparation-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas risus
                    felis, consectetur sed porttitor sit amet, pellentesque id mi. Nam nec condimentum enim. Proin ut
                    volutpat mauris, egestas egestas sem. Sed sit amet nibh pharetra neque facilisis ultrices id a
                    justo. Pellentesque et maximus nisi, vitae consectetur risus. Aliquam rutrum in est eget luctus. In
                    cursus quam sed cursus dictum. Vestibulum at arcu sit amet ante imperdiet scelerisque eu ac nunc.
                    Aliquam scelerisque leo nisi, quis ornare massa pharetra varius. Vestibulum suscipit vehicula urna,
                    ac congue nibh vulputate at. Vivamus placerat est sed nulla facilisis, eget fermentum est hendrerit.
                    Nulla tempor ligula vel augue porta congue. Cras ultrices, eros eu sodales molestie, justo nulla
                    efficitur metus, quis pellentesque orci arcu bibendum leo. Curabitur elit orci, fringilla sit amet
                    sagittis et, gravida eget ligula. Nulla vitae nibh dui. Curabitur vitae turpis vitae lorem fringilla
                    venenatis sit amet vitae quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
                    risus felis, consectetur sed porttitor sit amet, pellentesque id mi. Nam nec condimentum enim. Proin
                    ut volutpat mauris, egestas egestas sem. Sed sit amet nibh pharetra neque facilisis ultrices id a
                    justo. Pellentesque et maximus nisi, vitae consectetur risus. Aliquam rutrum in est eget luctus. In
                    cursus quam sed cursus dictum. Vestibulum at arcu sit amet ante imperdiet scelerisque eu ac nunc.
                    Aliquam scelerisque leo nisi, quis ornare massa pharetra varius. Vestibulum suscipit vehicula urna,
                    ac congue nibh vulputate at. Vivamus placerat est sed nulla facilisis, eget fermentum est hendrerit.
                    Nulla tempor ligula vel augue porta congue. Cras ultrices, eros eu sodales molestie, justo nulla
                    efficitur metus, quis pellentesque orci arcu bibendum leo. Curabitur elit orci, fringilla sit amet
                    sagittis et, gravida eget ligula. Nulla vitae nibh dui. Curabitur vitae turpis vitae lorem fringilla
                    venenatis sit amet vitae quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
                    risus
                </p>
            </div>
        </div>
    </div>
</body>
</html>