<div class="row miniheader">
    <div class="col-md-8">
        <h3>My Dinner: 1 people</h3></div>
    <div class="col-md-4">
        <button id="edit-btn">Go back and edit dinner</button>
    </div>
</div>

<div class="separator"></div>
<span id="printButton"><button type="button">Print Full Recipe</button></span>
<div id="selectedMenu">
    <div class="imgBox">
        <div><img src="https://spoonacular.com/recipeImages/Chocolate-Crunch-Snack-Mix--3-Points-548169.jpg"
            width="140" height="140">
            <div>
                <h4>Chocolate Crunch Snack Mix – 3 Points</h4>
            </div>
        </div>
        <div class="price">1.31 SEK</div>
    </div>
    <div class="menuResult">
        <p>Total:</p>
        <div class="price">1.31 SEK</div>
    </div>
</div>